
/* .container-fluid{
text-align: center;
} */

.mainArea{
    /* border-width:1px;
    border-radius:1px;
    border-color:gray;
    border-style:solid;
    box-shadow: 5px 5px 35px gray;
    display: inline-block; */
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
}


#display{
    color:white;
    border: none;
    background-color: #2693e0;
    font-size:10vw;
    width: 100%;
    height: 50%;
    display: inline-block;
   }



.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    height: 50%;
    margin: none;
         
}

.grid-item{
    font-size: 5vw;
    border: 1px solid #fafafa;
    

}

/* .btn-default:hover{
    background-color: red;
    color: white;
} */

#AC{
    color: #2693e0;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero{
    background-color: #c4ecfc;
    color: gray;
}

#CE, #percent, #forwardSlash, #sin, #cos, #tan, #pie, #factorial, #startBracket, #endBracket, #power, #xPowerY, #lgBaseTen, #esterisk, #hyphen, #plus, #decimal, #root{

color:gray;

} 

 #eq{
     background-color: #2693e0;
     color: white;
 }   
